.controls_block {
    margin: 20px 0;
    display: flex;
    color: var(--white);
    justify-content: space-between;
    font-family: sans-serif;
}

.controls_block > * {
    width: 45%;
    text-align: center;
}

.new_game_button {
    cursor: pointer;
}