.playground {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.playground > * {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 5px;
    transition: 100ms ease-in;
    transition-property: transform;
}

.container {
    position: relative;
    width: 310px;
    height: 310px;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}